{% if cart_settings.enable_checkout or cart_settings.show_price_in_quotation %}
<h6>
	{{ _("Order Options") }}
</h6>
{% endif %}

<div class="card h-100">
	<div class="card-body p-0">
		<div class="form-check my-4  text-nowrap">
			<input type="checkbox" 
				{% if doc.request_financial_assistance %} checked {% endif %}	
				class="form-check-input" id="financial_assistance">
			<label class="form-check-label" for="financial_assistance">Request Finanical Assistance</label>
		</div>
		<div class="form-group">
			<label for="custom_destination_country">Final Destination Country</label>
			<input class="form-control" id="custom_destination_country" value="{{ doc.custom_destination_country or '' }}"/>
		</div>

		{% for address in shipping_addresses|selectattr("name","equalto",doc.shipping_address_name) %}
		{% if "United States" in address.display %}
		<div class="form-group" id="tax_id_field">
			<label for="tax_id">Tax ID</label>
			<input class="form-control" id="tax_id" value="{{ tax_id or '' }}"/>
			<p class="text-muted"> {{ _("Required for organizations") }} </p>
		</div>
		{% endif %}
		{% endfor %}


		<div class="form-group">
			<label for="custom_customer_notes">Notes</label>
			<textarea class="form-control" id="custom_customer_notes" value="{{ doc.custom_customer_notes or '' }}"></textarea>
		</div>
		

		<div class="mt-3 text-center">
			<a href="mailto:galcom@galcom.com?subject=Order%20Help">Help</a>
		</div>
		
	</div>
</div>

